<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico?ver=3.0">
    <title>Posto Livre</title>
  </head>
  <body>
    <noscript>
      <strong>Desculpe-nos, nossa aplicação não funciona bem sem JavaScript habilitado.
              Por favor, habilite o JavaScript e atualize a página.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  </body>
</html>
