<template>
  <div v-if="showing" class="popup ">
      <div class="container">
          <div class="popup-holder">
            <div class="text-alert">
                <img height="20" src="images/icons/icon-cards/bandeira_dark.svg" alt="">
                <p class="">Nossa plataforma está em fase de testes, em breve os pedidos serão liberados. Aguarde!</p>
            </div>
            <button @click="showing = false" class="pl-btn">Entendi</button>
          </div>
      </div>
  </div>
</template>

<script>

export default {
  data: () => ({
    showing: true,
  }),
  components: {
  },
  methods: {
  },
  async created(){

  }
};
</script>

<style lang="scss" scoped>
    .popup{
        position: fixed;
        top: 100px;
        z-index: 30;
        background: #FFB119;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        p{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;

        }
        .popup-holder{
            display: flex;
            justify-content: space-between;
            button{
                margin-top: 10px;
                margin-bottom: 10px;
                padding-right: 30px;
                padding-left: 30px;
                @include grid-media($smartphone-grid) {
                    height: 50px;
                    /* transform: translateY(30%); */
                    margin-top: 20px;
                    margin-bottom: 20px;

                }

            }
            .pl-btn{
                background: #333;
            }
            .pl-btn:hover{
                background: rgb(88, 88, 88);
            }
            .text-alert{
                display: flex;
                img{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-right: 20px;
                    @include grid-media($smartphone-grid) {
                        display: none;
                    }

                }
            }
        }
    }
</style>
